.footer {
    background-color: $bg-color;
    color: $color;
    // Start Primamty_Footer
    .primmaty__content {
        width: 80%;
        margin: auto;
        margin-bottom: 100px;
        padding-top: 100px;
        .primmaty__footer {
            .title {
                font: {
                    weight: none;
                    size: 14px;
                }
                color: $color-white-0;
                text-transform: uppercase;
                padding-bottom: 20px;
            }
            .f-list {
                margin: 0;
                padding: 0;
                li {
                    font-weight: none;
                    list-style: none;
                    border-bottom: 1px solid $color-border;
                    i {
                        &:hover {
                            color: $color-hover;
                        }
                    }
                    a {
                        font-weight: $fw-normal;
                        color: #a2a2a2;
                        text-decoration: none;
                        padding: 0 20px;
                        line-height: 45px;
                        &:hover {
                            color: $color-hover;
                        }
                    }
                }
            }
            .list__recent {
                margin-top: 20px;
                width: 80%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 8px;
                img {
                    width: 95%;
                }
            }
        }
    }
    // End Primmaty_Footer
    // Start Secondary_Footer
    .secondary__content {
        background: #1b1b1b;
        display: inline-block;
        width: 100%;
        height: 200px;
        padding: 40px;
        border-top: 1px solid $color-border;
        font-weight: $fw-normal;
        .secondary__footer {
            width: 90%;
            margin: auto;
            .secondary__title {
                a {
                    color: $color-white-0;
                    &:hover {
                        text-decoration: none;
                        color: $color-hover;
                    }
                }
            }
            .secondary__icons {
                .icon {
                    display: inline-block;
                    width: 35px;
                    height: 35px;
                    border: 1px solid $color-border;
                    @include boder-rd(50%);
                    text-align: center;
                    .fab {
                        line-height: 35px;
                        font-size: 20px;
                        @include transition(0.25s, linear);
                        color: $color-fab;
                        &:hover {
                            color: $color-white-0;
                            border: 1px solid transparent;
                            background: $color-fab;
                            width: 35px;
                            height: 35px;
                            @include boder-rd(50%);
                        }
                    }
                }
            }
        }
    }
}

// End Secondary_Footer